body{
    border: 4px solid black;
    background-color: rgb(198, 201, 203);
}
h2{
    margin-left: 10px;
    color: rgb(70, 21, 41);
}
#image.box{
    border: 4px;
}
p img{
    margin-left: 10px;
    height: 250px;
    width: 340px;
}
.size img{
    margin-left: 10px;
    height: 250px;
    width: 334px;
}
  